<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/logo2.png" sizes="32x32">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskNode</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>